.progress-bar{
    margin: 10px;
    background-color: #DBCDC6;
    position: relative;
    height: 20px;
    width: 250px;
}

.current-progress{
    background-color: #7B506F;
    position: absolute;
    height: 100%;
}

.status{
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}